.button {
  background-color: transparent;
  border-radius: 0.2rem;
  border: none;
  color: $color-primary;
  font-family: 'Akronim';
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 3rem;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: $color-primary;
    color: $color-white;
  }
}
