.filter {
  position: relative;

  &__select {
    background-color: transparent;
    border-radius: 0.5rem;
    border: none;
    color: $color-primary;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0.4rem;
    outline: none;
    padding: 0.8rem;
    text-transform: capitalize;
  }

  &__option {
    border-radius: 0.3rem;
    color: $color-gray;
    height: 10rem;
    padding: 6rem;
    position: absolute;
  }

  &__placeholder {
    background-color: $color-primary;
    border-radius: 0.5rem;
    bottom: 0;
    color: $color-white;
    font-size: 2rem;
    font-weight: bold;
    left: 0;
    margin: 0 0.4rem;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: capitalize;
    top: 0;
  }
}
