.loader {
  align-items: center;
  display: flex;
  justify-content: center;

  &__text {
    animation-delay: calc(var(--i) * 200ms);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: wobbleAnimation;
    animation-timing-function: linear;
    font-family: 'Akronim';
    font-size: 4rem;
    font-weight: 800;
    margin: 0 0.8rem;
  }
}
