@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  background-color: $color-black;
  color: $color-primary;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;

  @include respond(tab-port) {
    padding: 0;
  }
}

main {
  padding: 0 3rem;
}
